:root {
  --primary-text-color: #757575;
  --primary-bgc: #e5e5e5;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --secondary-bgc: #2f303a;
  --primary-white-color: #ffffff;
  --white-transparent-color: rgba(255, 255, 255, 0.6);
  --secondary-color: #f5f4fa;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* цвет основного текста #212121
вторичный цвет текста rgba#757575
белый #FFFFFF
акцент #2196F3
белый прозраяный rgba(255, 255, 255, 0,6)
основной цвет фона #E5E5E5
вторичный фон #F5F4FA
вторичный фон #2F303A */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid red; */
}
.second-header {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--primary-black-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo-text {
  color: var(--accent-color);
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-black-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.link.primary {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* main */
.section {
  padding-bottom: 94px;
}
.button {
  background-color: var(--secondary-color);
  color: var(--primary-black-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.section-title {
  margin-bottom: 50px;
  color: var(--primary-black-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}
.main-section .title {
  color: var(--primary-black-color);

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.main-section .text {
  font-size: 16px;
  line-height: 1.87;
}
.button-list {
  display: flex;
  justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.main-section {
  align-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
}
.conteiner-button {
  /* margin-left: 300px;
  margin-right: auto; */
}
.conteiner-button .section-title {
  display: none;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
}
.list-content .conteiner-title {
  margin: 20px 24px;
}
.list-content .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-content .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list-content .item:nth-child(-n + 3) {
  margin-top: 34px;
}
.list-content .item:nth-child(3n) {
  margin-right: 0;
}
/* hero */
.hero {
  background-color: var(--secondary-bgc);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  vertical-align: top;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}
/* peculiarities */
.peculiarities-section {
  margin-top: 94px;
}
.peculiarities-list {
  display: flex;
}
.peculiarities-list .item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities-list .item {
  width: 270px;
}
.peculiarities-section .title {
  margin-bottom: 10px;

  color: var(--primary-black-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities-section .section-title {
  display: none;
}
.peculiarities-section .text {
  font-size: 14px;
  line-height: 1.7;
}
/* work */
.work-list {
  display: flex;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* team */
.team-list {
  display: flex;
  text-align: center;
  font-size: 0;
}
.team-list p {
  margin-bottom: 30px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-list .item {
  background-color: var(--primary-white-color);
}
.team-section {
  background-color: var(--secondary-color);
}
.team-section .title {
  margin-bottom: 10px;

  color: var(--primary-black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.team-section .image {
  margin-bottom: 30px;
}
.team-section .text {
  font-size: 16px;
  line-height: 1.18;
}
/* footer */
.footer {
  background-color: var(--secondary-bgc);
}
.address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.address .link {
  color: var(--white-transparent-color);

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--primary-white-color);
  display: inline-block;
  margin-top: 60px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.address .address-link {
  color: var(--primary-white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.address .link {
  margin-bottom: 9px;
}
.address .link:last-child {
  margin-bottom: 60px;
}
